<h2> Olá {{name}} </h2>
<h3> Calma, você já vai conseguir acessar nossa plataforma!</h3>
<p> Para recuperar a senha acesse esse link: {{url}}</p>

<p>Caso voce não tenha solicitado alteração de senha ignore este email</p>

<p>Att, {{equipe}}</p>
